.user {
	padding-top: 70px;
	display: flex;
	justify-content: center;
}

.user__form {
	max-width: 396px;
}

.user__title {
	margin: 37px 0 35px;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
}

.user__label {
	font-size: 10px;
	line-height: 12px;
	color: #8b8b8b;
}

.user__input {
	margin: 8px 0 15px;
	padding: 15px;
	width: 100%;
	max-width: 366px;
	font-weight: 500;
	font-size: 13px;
	line-height: 16px;
	border: none;
	background: #2f2f2f;
	border-radius: 8px;
	color: white;
	outline: none;
}

.user__error {
	font-size: 10px;
	line-height: 12px;
	color: #ee3465;
	display: block;
	margin-top: -5px;
	height: 24px;
}

.user__save-button {
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #fff;
	border: none;
	background-color: #4285f4;
	border-radius: 3px;
	padding-top: 14px;
	padding-bottom: 14px;
	margin-top: 58px;
	width: 100%;
	cursor: pointer;
	transition: 0.1s linear;
}

.user__save-button:hover {
	opacity: 0.8;
}

.user__save-submit_login {
	margin-top: 146px;
}

.user__sign {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	line-height: 17px;
	margin-top: 18px;
}

.user__text {
	margin: 0;
	color: #8b8b8b;
}

.user__link {
	text-decoration: none;
	color: #4285f4;
	transition: 0.1s linear;
}

.user__link:hover {
	opacity: 0.8;
}

.header__logo_indent {
	display: block;
}

@media screen and (max-width: 868px) {
	.user {
		padding: 232px 0;
	}
}

@media screen and (max-width: 465px) {
	.user {
		padding: 56px 0 30px;
	}

	.user__form {
		max-width: 260px;
	}

	.header__logo_indent {
		margin: 0 111px;
	}

	.user__title {
		margin: 47px 0 75px;
		text-align: center;
	}

	.user__input {
		max-width: 230px;
	}

	.user__save-button {
		font-size: 12px;
		line-height: 15px;
		margin-top: 146px;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.user__sign {
		font-size: 12px;
		line-height: 15px;
		margin-top: 14px;
	}

	.user__save-submit_login {
		margin-top: 234px;
	}
}
